extends layout

block content
    h1.
        Asiakkaat
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.puh}")= user.ID + ", Nimi:  "+user.Nimi+", Puh: " +user.Puh+", Kieli: "+user.Kieli